<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games & DLC's</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../images/Logo_PW.png">
</head>
<body>
    <%- include("../components/navbar.ejs") %>
    <section>
        <div class="container" style="margin-top: 1rem;">
            <div class="horizontal-grid">
                <div class="grid-object-m">
                    <a class="button button-s" href="#games">Games</a>
                    <a class="button button-s" href="#dlcs">DLC's</a>
                    <a class="button button-s" href="#gift_cards">Gift Cards</a>
                </div>
                <div class="search-bar-div">
                    <input class="search-bar" type="text" placeholder="Search...">
                    <a class="search-bar-button"><svg xmlns="http:/www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></a>        
                </div>
            </div>
        </div>
        <div class="container" style="margin-top: 1rem;">
            <h1 id="games">Games</h1>
            <div class="games-row">           
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game2.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game3.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game4.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game5.png" alt="game">
                </a>
            </div>
            <div class="games-row">  
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game6.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game7.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game8.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game9.png" alt="game">
                </a>
            </div>
            <div class="games-row">
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game10.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game11.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game12.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game13.png" alt="game">
                </a>
            </div>
            <div class="games-row">
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game14.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game15.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game16.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game17.png" alt="game">
                </a>
            </div>
            <div class="games-row">
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game18.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game19.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game20.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game21.png" alt="game">
                </a>
            </div>
            <div class="games-row">
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game22.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game23.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game24.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game25.png" alt="game">
                </a>
            </div>
            <div class="games-row">
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game26.png" alt="game">
                </a>
            </div>
        </div>
        <div class="container" style="margin-top: 1rem;">
            <h1 id="dlcs">DLC's</h1>
            <div class="games-row">           
                <a href="/dlc_page">
                    <img class="pad-1-2 game-image" src="../images/dlcs/dlc1.png" alt="game">
                </a>
                <a href="/dlc_page">
                    <img class="pad-1-2 game-image" src="../images/dlcs/dlc2.png" alt="game">
                </a>
                <a href="/dlc_page">
                    <img class="pad-1-2 game-image" src="../images/dlcs/dlc3.png" alt="game">
                </a>
                <a href="/dlc_page">
                    <img class="pad-1-2 game-image" src="../images/dlcs/dlc4.png" alt="game">
                </a>
            </div>
            <div class="games-row">  
                <a href="/dlc_page">
                    <img class="pad-1-2 game-image" src="../images/dlcs/dlc5.png" alt="game">
                </a>
                <a href="/dlc_page">
                    <img class="pad-1-2 game-image" src="../images/dlcs/dlc6.png" alt="game">
                </a>
                <a href="/dlc_page">
                    <img class="pad-1-2 game-image" src="../images/dlcs/dlc7.png" alt="game">
                </a>
                <a href="/dlc_page">
                    <img class="pad-1-2 game-image" src="../images/dlcs/dlc8.png" alt="game">
                </a>
            </div>
            <div class="games-row">  
                <a href="/dlc_page">
                    <img class="pad-1-2 game-image" src="../images/dlcs/dlc11.png" alt="game">
                </a>
                <a href="/dlc_page">
                    <img class="pad-1-2 game-image" src="../images/dlcs/dlc12.png" alt="game">
                </a>
                <a href="/dlc_page">
                    <img class="pad-1-2 game-image" src="../images/dlcs/dlc9.png" alt="game">
                </a>
                <a href="/dlc_page">
                    <img class="pad-1-2 game-image" src="../images/dlcs/dlc10.png" alt="game">
                </a>
            </div>
        </div>
        <div class="container" style="margin-top: 1rem;">
            <h1 id="gift_cards">Gift Cards</h1>
            <div class="games-row">           
                <a href="/gift_card_page">
                    <img class="pad-1-2 game-image" src="../images/giftcards/gc10.png" alt="Gift card 10€">
                </a>
                <a href="/gift_card_page">
                    <img class="pad-1-2 game-image" src="../images/giftcards/gc20.png" alt="Gift card 20€">
                </a>
                <a href="/gift_card_page">
                    <img class="pad-1-2 game-image" src="../images/giftcards/gc50.png" alt="Gift card 50€">
                </a>
                <a href="/gift_card_page">
                    <img class="pad-1-2 game-image" src="../images/giftcards/gc60.png" alt="Gift card 60€">
                </a>
            </div>
            <div class="games-row">  
                <a href="/gift_card_page">
                    <img class="pad-1-2 game-image" src="../images/giftcards/gc80.png" alt="Gift card 80€">
                </a>
                <a href="/gift_card_page">
                    <img class="pad-1-2 game-image" src="../images/giftcards/gc100.png" alt="Gift card 100€">
                </a>
                <a href="/gift_card_page">
                    <img class="pad-1-2 game-image" src="../images/giftcards/gc150.png" alt="Gift card 150€">
                </a>
                <a href="/gift_card_page">
                    <img class="pad-1-2 game-image" src="../images/giftcards/gc200.png" alt="Gift card 200€">
                </a>
            </div>
            <div class="games-row">  
                <a href="/gift_card_page">
                    <img class="pad-1-2 game-image" src="../images/giftcards/gc250.png" alt="Gift card 250€">
                </a>
            </div>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html> 