<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../images/Logo_PW.png">
</head>
<body>
    <%- include("../components/navbar.ejs") %>
    <section>
        <div class="featured-game">
            <a href="/game_page">
                <img style="height: 25rem;" src="../images/games/game1.png" alt="The binding of isaac Rebirth">
            </a>
            <h2>Comes with 3 DLC's!</h2>
            <div class="featured-dlc">
                <a href="/dlc_page">
                    <img src="../images/dlcs/dlc_1.png" alt="The binding of isaac Afterbirth">
                </a>
                <a href="/dlc_page">
                    <img src="../images/dlcs/dlc_2.png" alt="The binding of isaac Afterbirth+">
                </a>
                <a href="/dlc_page">
                    <img src="../images/dlcs/dlc_3.png" alt="The binding of isaac Repentance">
                </a>
            </div>
        </div>
        <div class="container" style="margin-top: 1rem; width: 85rem;">
            <h2>Featured games</h2>
            <div class="games-row">           
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game2.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game3.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game4.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game5.png" alt="game">
                </a>
            </div>
            <div class="games-row">  
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game6.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game7.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game8.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game9.png" alt="game">
                </a>
            </div>
            <div class="games-row">
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game10.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game11.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game12.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game13.png" alt="game">
                </a>
            </div>
            <div class="games-row">
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game14.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game15.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game16.png" alt="game">
                </a>
                <a href="/game_page">
                    <img class="pad-1-2 game-image" src="../images/games/game17.png" alt="game">
                </a>
            </div>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>