<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../images/Logo_PW.png">
</head>
<body>
    <div class="container-s">
        <img class="round-image" src="../images/Logo_PW.png" alt="PlayDealz Logo">
        <h1>Login!</h1>
        <form id="loginForm">
            <input class="textbox" type="text" id="username" placeholder="Username">
            <input class="textbox" type="password" id="password" placeholder="Password">
            <span id="message"></span>
            <button class="button button-l" type="submit">Login</button>
        </form>
        <div class="textDiv">
            <a class="text" href="/register">No Account yet?</a>
        </div>
    </div>
</body>
<footer>
    <script src="../scripts/login.js"></script>
</footer>
</html>