<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Profile</title>
      <link rel="stylesheet" href="../styles/styles.css">
      <link rel="icon" type="image/x-icon" href="../images/Logo_PW.png">
  </head>
  <body>
    <%- include("../components/navbar.ejs") %>
    <section>
      <div class="navbar-space"></div>
      <div class="profile-container">
        <img class="round-image" src="../images/users/user.png" alt="user profile picture">
        <h1>Nathan Drake</h1>
        <div class="horizontal-grid">
          <div class="grid-object-s vertical-grid">
            <a class="button button-m" href="/redeem">Redeem Gift Cards</a>
            <a class="button button-m" href="/staff_page">Staff Page</a>
            <a class="button button-m" onclick="logout()" style="background-color: brown;">Logout</a>
          </div>
          <div class="grid-object-l center">
            <h2>Purchase history</h2>
            <div class="games-list-history">
              <div class="games-list-row">
                <div class="grid-object-s">
                  <a href="/game_page">
                    <img class="game-image m-top m-bottom" style="height: 10rem;" src="../images/games/game5.png" alt="Purchased game">
                  </a>
                </div>
                <div class="grid-object-l flex-row left">
                  <div class="grid-object-l game-content">
                    <h3>Name: Uncharted 4</h3>
                    <h3 class="paid">Status: Paid</h3>
                    <h3>Code: 2034 4095 1390 3095</h3>
                  </div>
                  <div class="grid-object-s">
                    <h3>59.73€</h3>
                  </div>
                </div>
              </div>
              <div class="games-list-row">
                <div class="grid-object-s">
                  <a href="/game_page">
                    <img class="game-image m-top m-bottom" style="height: 10rem;" src="../images/games/game10.png" alt="Purchased game">
                  </a>
                </div>
                <div class="grid-object-l flex-row left">
                  <div class="grid-object-l game-content">
                    <h3>Name: The last faith</h3>
                    <h3 class="pending">Status: Pending</h3>
                    <h3>Code: **** **** **** ****</h3>
                  </div>
                  <div class="grid-object-s">
                    <h3>26.99€</h3>
                  </div>
                </div>
              </div>
              <div class="games-list-row">
                <div class="grid-object-s">
                  <a href="/game_page">
                    <img class="game-image m-top m-bottom" style="height: 10rem;" src="../images/games/game6.png" alt="Purchased game">
                  </a>
                </div>
                <div class="grid-object-l flex-row left">
                  <div class="grid-object-l game-content">
                    <h3>Name: In Nightmare</h3>
                    <h3 class="canceled">Status: Canceled</h3>
                    <h3>Code: **** **** **** ****</h3>
                  </div>
                  <div class="grid-object-s">
                    <h3>19.50€</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <script src="../scripts/logout.js"></script>
    </footer>
  </body>
</html>