<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Redeem</title>
		<link rel="stylesheet" href="../styles/styles.css">
		<link rel="icon" type="image/x-icon" href="../images/Logo_PW.png">
	</head>
	<body>
		<section>
			<div class="navbar-space"></div>
			<%- include("../components/navbar.ejs") %>
			<div class="container-s">
				<form id="RedeemForm">
					<h1>Redeem Codes:</h1>
					<img class="round-image" src="../images/Logo_PW.png" alt="PlayDealz Logo">
					<div class="horizontal-grid">
						<p>Enter you 16-digit code:</p>
					</div>
					<input id="code" class="textbox" type="text" placeholder="Your code:" maxlength="16">

					<div class="horizontal-grid" style="justify-content: center; gap: 1rem;margin-top: 1rem;">
						<span id="message"></span>
					</div>

					<div class="horizontal-grid center" style="gap: 1rem;">
						<button type="submit" class="button center" style="width: 50%;">Redeem</button>
					</div>

					<div class="horizontal-grid" style="justify-content: center;">
						<a class="text" href="/profile">Go back</a>
					</div>
				</form>
			</div>
		</section>
		<footer>
			<script src="../scripts/redeem.js"></script>
		</footer>
	</body>
</html>
