<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../images/Logo_PW.png">
</head>
<body>
    <div class="container-m">
        <img class="round-image" src="../images/Logo_PW.png" alt="PlayDealz Logo">
        <h1>Create an account!</h1>
        <form id="loginForm">
            <input class="textbox" type="text" placeholder="First Name">
            <input class="textbox" type="text" placeholder="Last Name">
            <input class="textbox" type="text" placeholder="Username">
            <input class="textbox" type="text" placeholder="Email">
            <input class="textbox" type="text" placeholder="Password">
            <button class="button button-l" type="submit">Login</button>
        </form>
        <div class="textDiv">
            <a class="text" href="/login">Already have an account?</a>
        </div>
    </div>
</body>
</html>