<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
		<link rel="stylesheet" href="../styles/styles.css">
		<link rel="icon" type="image/x-icon" href="../images/Logo_PW.png">
	</head>
	<body>
		<section>
			<div class="container-m" style="height: auto;">
				<img class="round-image" src="../images/Logo_PW.png" alt="PlayDealz Logo">
				<h1>Create an account!</h1>
				<form id="registerForm">
					<input class="textbox" type="text" id="fname" placeholder="First Name">
					<input class="textbox" type="text" id="lname" placeholder="Last Name">
					<input class="textbox" type="text" id="username" placeholder="Username">
					<input class="textbox" type="email" id="email" placeholder="Email">
					<input class="textbox" type="password" id="password" placeholder="Password">
					<input class="textbox" type="password" id="cpassword" placeholder="Confirm password">
					<span id="message"></span>
					<button class="button button-l" type="submit">Login</button>
				</form>
				<div class="textDiv">
					<a class="text" href="/login">Already have an account?</a>
				</div>
			</div>
		</section>
	</body>
	<footer>
		<script src="../scripts/register.js"></script>
	</footer>
</html>
