<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Auction</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../images/Logo_PW.png">
</head>
<body>
    <%- include("../components/navbar.ejs") %>
    <section>
        <div class="container-top">
            <div class="horizontal-grid">
                <div class="grid-object-l" style="width: 66%; gap: 1rem;">
                    <div>
                        <h2>Tittle</h2>
                        <input type="text" class="textbox" style="width: 80%;" placeholder="Tittle for a Auction" value="Gran turismo limited edition">
                    </div>
                    <div>
                        <h2>Description</h2>
                        <textarea class="textarea" style="width: 80%;" placeholder="Write here...">Auction about a limited edition of Gran Turismo 7 (Comes with a real car).</textarea>
                    </div>
                </div>
                <div class="grid-object-s" style="width: 33%;">
                    <div class="horizontal-grid">
                        <h2>Start Date:</h2>
                        <input class="textbox-date" type="date" value="2024-12-10">
                    </div>
                    <div class="horizontal-grid">
                        <h2>End Date:</h2>
                        <input class="textbox-date" type="date" value="2024-12-13">
                    </div>
                    <div class="horizontal-grid">
                        <h2>Initial value:</h2>
                        <input class="textbox" type="text" style="width: 8rem;" placeholder="50,00€" value="10000€">
                    </div>
                </div>
            </div>
            <div class="horizontal-grid" style="justify-content: right; gap: 1rem;">
                <a href="/staff_page" class="button">Save</a>
                <a href="/staff_page" class="button cancel">Cancel</a>
            </div>
        </div>
    </section>
    <footer>

    </footer>
</body>
</html>