<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Edit Game</title>
		<link rel="stylesheet" href="../styles/styles.css">
		<link rel="icon" type="image/x-icon" href="../images/Logo_PW.png">
	</head>
	<body>
		<%- include("../components/navbar.ejs") %>
		<section>
			<div class="navbar-space"></div>
			<div class="container-top">
				<div class="horizontal-grid">
					<div class="game-image-s" style="width: 20%;">
						<img class="game-image" src="../images/games/game9.png">
						<input style="margin-top: 1rem;" type="file" id="image" name="image" accept="image/*" required>
						<div class="horizontal-grid" style="gap: .5rem;margin-top: 3rem;">
							<div class="vertical-grid">
								<div class="horizontal-grid" style="justify-content: right;">
									<p>Price:</p>
									<input class="textbox" type="text" placeholder="0€" style="width: 8rem; margin-left: 1rem;" value="10€">
								</div>
								<div class="horizontal-grid" style="justify-content: right;">
									<p>Date:</p>
									<input class="textbox-date" type="date" style="margin-left: 1rem;" value="2024-01-01">
								</div>
								<div class="horizontal-grid" style="justify-content: right;">
									<p>Stock:</p>
									<input class="textbox" type="text" placeholder="0" style="width: 8rem; margin-left: 1rem;" value="10">
								</div>
								<div class="horizontal-grid" style="justify-content: right;">
									<p>Discount:</p>
									<input class="textbox" type="text" placeholder="0" style="width: 8rem; margin-left: 1rem;">
								</div>
							</div>
						</div>
					</div>
					<div class="grid-object-l">
						<div class="vertical-grid">
							<div class="vertical-grid">
								<h1>Title:</h1>
								<input class="textbox" type="text" style="width: 20rem;" value="God of War Ragnarok">
								<p>Company Name:</p>
								<input class="textbox" type="text" style="width: 20rem;" value="Santa Monica">
							</div>
							<div class="horizontal-grid">
								<div class="vertical-grid">
									<p>PEGI Rating:</p>
									<input class="textbox" type="text" style="width: 2rem;align-items: left; text-align: center;" value="18">
								</div>
								<div class="vertical-grid">
									<p>Platform:</p>
									<div class="horizontal-grid">

										<div class="vertical-grid">
											<input type="radio" id="PS1" name="platform" value="PS1">
											<input type="radio" id="PS2" name="platform" value="PS2">
										</div>
										<div class="vertical-grid">
											<label for="PS1">PS1</label>
											<label for="PS2">PS2</label>
										</div>
										<div class="vertical-grid">
											<input type="radio" id="PS3" name="platform" value="PS3">
											<input type="radio" id="PS4" name="platform" value="PS4">
										</div>
										<div class="vertical-grid">
											<label for="PS3">PS3</label>
											<label for="PS4">PS4</label>
										</div>
										<div class="vertical-grid">
											<input type="radio" id="PS5" name="platform" value="PS5" checked>
										</div>
										<div class="vertical-grid">
											<label for="PS5">PS5</label>
										</div>
									</div>
								</div>
							</div>
							<div class="vertical-grid">
								<p>Description:</p>
								<textarea class="textarea" style="width: 40rem;">Embark with Kratos and Atreus on an epic and moving adventure in which they will struggle with the bonds of the past and the possibilities of the future.</textarea>
							</div>
							<div class="horizontal-grid" style="justify-content: left;">
								<h1>DLCs:</h1>
							</div>
							<table class="auction-items" style="width: 80%;">
								<tr>
									<th></th>
									<th>Name</th>
									<th>Release date</th>
									<th>Status</th>
								</tr>
								<tr>
									<td>
										<img class="game-image" src="../images/dlcs/dlc1.png" alt="Game 1" style="height: 7rem; margin: 1rem 0;">
									</td>
									<td>
										<p class="text">The binding of Isaac AfterBirth</p>
									</td>
									<td>
										<p class="text">25/10/24</p>
									</td>
									<td>
										<p class="text paid">In Stock</p>
									</td>
								</tr>
								<tr>
									<td>
										<img class="game-image" src="../images/dlcs/dlc2.png" alt="Game 1" style="height: 7rem; margin: 1rem 0;">
									</td>
									<td>
										<p class="text">The binding of Isaac AfterBirth +</p>
									</td>
									<td>
										<p class="text">04/03/22</p>
									</td>
									<td>
										<p class="text canceled">Not in stock</p>
									</td>
								</tr>
								<tr>
									<td>
										<img class="game-image" src="../images/dlcs/dlc3.png" alt="Game 1" style="height: 7rem; margin: 1rem 0;">
									</td>
									<td>
										<p class="text">The binding of Isaac Repentance</p>
									</td>
									<td>
										<p class="text">05/10/23</p>
									</td>
									<td>
										<p class="text pending">TBA</p>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="horizontal-grid" style="justify-content: right; gap: 1rem;margin-top: 4rem;">
					<a href="/staff_page" class="button">Save</a>
					<a href="/staff_page" class="button cancel">Cancel</a>
				</div>
			</div>
		</section>
		<footer></footer>
	</body>
</html>
